<mat-card>
    <div *ngIf="this.procData.length>0">
        <highcharts-chart
                [Highcharts]="highChartOne"
                [options]="catePieChartOption"
                style="width: 100%; display: block;"></highcharts-chart>
    </div>
</mat-card>


<mat-card>
    <div *ngIf="this.subprocData.length>0">
        <highcharts-chart
                [Highcharts]="highChartTwo"
                [options]="subcatePieChartOption"
                style="width: 100%; display: block;"></highcharts-chart>
    </div>
</mat-card>

