<app-vis-location-enc
        [locDateLable]="locDateLable"
        [locEncData]="locEncData"
>
</app-vis-location-enc>

<app-vis-date-count
        [dates]="dates"
        [dateData]="dateData"
        [months]="months"
        [monthData]="monthData"
        [years]="years"
        [yearData]="yearData"

        [monthLabel]="monthLabel"
        [monthDatas]="monthDatas"
        [yearLabel]="yearLabel"
        [yearDatas]="yearDatas"
        [dateOriginal]="dateOriginal"
></app-vis-date-count>

<app-vis-proc-cate
        [procData]="procData"
        [subprocData]="subprocData"
        [subprocDrillData]="subprocDrillData"
></app-vis-proc-cate>

