<div class="signup-wrapper" fxLayout="row" fxLayoutAlign="center center">

    <mat-card class="box">
        <mat-card-header>
            <mat-card-title>REGISTER</mat-card-title>
        </mat-card-header>
        <br>
        <form class="myform" [formGroup]="registerForm" (ngSubmit)="onSubmit()">

            <mat-card-content>

                <div class="row">
                    <div class="column-left">
                        <label>Email</label>
                    </div>
                    <div class="column-right">
                        <mat-form-field class="full-width">
                            <input matInput placeholder="" type="email"
                                   formControlName="email" class="form-control"
                                   [ngClass]="{ 'is-invalid': submitted && f.email.errors }"/>
                            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                <div *ngIf="f.email.errors.required">Email is required</div>
                                <div *ngIf="f.email.errors.email && isPittEmail(f.email.value)">Email must be a valid
                                    Pitt email
                                    address
                                </div>
                            </div>
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="column-left">
                        <label>Password</label>
                    </div>
                    <div class="column-right">
                        <mat-form-field class="full-width">
                            <input matInput placeholder="" type="password" formControlName="password"
                                   class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }"/>
                            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                <div *ngIf="f.password.errors.required">Password is required</div>
                                <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                            </div>
                        </mat-form-field>
                    </div>
                </div>
            </mat-card-content>
            <div class="form-group">
                <span class="col-half">
                    <button [disabled]="loading" mat-stroked-button color="accent" class="btn-block" type="submit">
                        <span *ngIf="loading"></span>
                        Register
                    </button>
                </span>
                <span class="col-half">
                    <button routerLink="/login" mat-stroked-button color="accent" class="btn-block" type="button">Cancel</button>
                </span>
            </div>

        </form>
    </mat-card>
</div>
