<mat-toolbar color="primary" class="app-header">
    <button mat-button disabled>
        <img class="logo" src="assets/img/redwine.png" alt="RedWine Logo" width="150">
    </button>
    <span>RedWine Data Warehouse</span>
    <span class="nav-tool-items">

        <a mat-button mat-raised-button routerLink="">Home</a>
        <a mat-button (click)="logout()">Logout</a>

        <!--    <a mat-button routerLink="login" routerLinkActive="active">Log in</a>-->
        <!--    <a mat-button mat-raised-button routerLink="signup" routerLinkActive="active">Register</a>-->
    </span></mat-toolbar>
<router-outlet></router-outlet>

