<mat-card>
    <mat-card-title>ENC Numbers Per Day</mat-card-title>
    <mat-selection-list>

    </mat-selection-list>
    <div *ngIf="dates.length>0" style="display: block">
        <canvas baseChart [datasets]="dateData" [labels]="dates"
                [options]="barChartOptions"
                [legend]="barChartLegend" [chartType]="barChartType" (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
    </div>
</mat-card>


<mat-card>
    <mat-card-title>ENC Numbers Per Month</mat-card-title>
    <div *ngIf="months.length>0" style="display: block">
        <canvas baseChart [datasets]="monthData" [labels]="months"
                [options]="barChartOptions"
                [legend]="barChartLegend" [chartType]="barChartType" (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
    </div>
    <!--  <button mat-button mat-raised-button color="primary" (click)="randomize()">Update</button>-->
</mat-card>


<mat-card>
    <mat-card-title>ENC Numbers Per Year</mat-card-title>
    <div *ngIf="years.length>0" style="display: block">
        <canvas baseChart [datasets]="yearData" [labels]="years"
                [options]="barChartOptions"
                [legend]="barChartLegend" [chartType]="barChartType" (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
    </div>
    <!--  <button mat-button mat-raised-button color="primary" (click)="randomize()">Update</button>-->
</mat-card>
