
.file-or-folder {
  padding: 8px;
  overflow: hidden;
}

.container {
  overflow: hidden;
}

.file-or-folder-icon {
  width: 50px;
  height: 50px;
  font-size: 50px;
}

.pointer {
  cursor: pointer;
}
